build/
site/
test.wav
CMakeLists.txt.user
*~
*.html
*.xml
*.autosave
.wiki
__pycache__
*.stamp
docs-build
.docs-build
\#*\#
*.o
*.so
*.dylib
CMakeFiles/
*.obj
*.a
.#*
installer/win/dlls
installer/macos/dylibs
installer/macos/release
buildwin/*
~*
.~*
*.csv
release
risset.json~
